{% extends "learning_logs/base.html" %}
{% block content %}
    <h1>{{ topic.text }} (<i>{{ topic.date_added|date:'d-M-Y H:i' }}</i>)</h1>
    <ul>
        {% for entry in entries %}
            <li><h2>{{ entry.date_added|date:'d-M-Y H:i' }}</h2> {{ entry.text|linebreaks }} <a href="{% url 'learning_logs:edit_entry' entry.id %}">Edit entry</a></li>
            {% empty %}
            <li>No entries added.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'learning_logs:new_entry' topic.id%}">Add a new entry</a>
{% endblock content %}